.admin__page {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
  border-radius: 10px;
  padding-bottom: 15px;
}
.admin__title--wrapper {
  height: auto;
  width: 100%;
  text-align: center;
}
.admin__title {
  color: #fff;
  font-family: var(--font-family-ftFamilyTwo);
  font-size: var(--font-size-ftSizeStandar);
  letter-spacing: 1px;
  text-decoration: underline;
}
.admin_sub--container {
  min-height: 20vh;
  min-width: 80vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #222;
}
.admin__vid--modif {
  display: none;
  text-decoration: underline;
}
.admin__vid--modif > form {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
/*ajout de la class en javascript*/
.view__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-ftSizeStandar);
  letter-spacing: 1px;
  font-family: var(--font-family-ftFamilyTwo);
  color: #fff;
  min-height: 15vh;
  max-width: 100%;
  border-radius: 10px;
}
.admin__menu--btn {
  height: 15vh;
  width: 20vw;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: transparent;
  background: linear-gradient(to right, #0099f7, #f11712);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size-ftSizeMedium);
}
.admin__menu--btn:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-color: #0099f7;
  box-shadow: var(--boxe-shadow-bxeShdw);
}
.search__item {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search__item > input[type="search"] {
  height: auto;
  min-width: 30vw;
}

.search__item > button {
  height: 5vh;
  min-width: 15vw;
  background: #222;
  border: 2px solid #fff;
  border-radius: 5px;
}
.search__item > button > i {
  color: transparent;
  background: linear-gradient(to right, #0099f7, #f11712);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size-ftSizeMedium);
}

.search__item > button:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-color: #0099f7;
  box-shadow: var(--boxe-shadow-bxeShdw);
}
.search__item--result {
  height: 35vh;
  width: 100%;
  background: #222;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
.search__item--list {
  font-family: var(--font-family-ftFamilyTwo);
  font-size: var(--font-size-ftSizeStandar);
}
.search__item--list:hover i {
  cursor: pointer;
  color: transparent;
  background: linear-gradient(to right, #0099f7, #f11712);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chart__container {
  height: auto;
  width: 92vw;
  border: 1px solid #fff;
  border-radius: 10px;
}
