.vid__article--primary-container {
  height: 48vh;
  width: 48vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #000;
  overflow: hidden;
}
