.vid__article--primary-container {
  height: 37vh;
  width: 44.5vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vid__article--primary-container > hr {
  border: none;
  background-color: #fff;
  height: 2px;
  width: 50%;
}
.vid__article--pict {
  height: 37vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.vid__article--img {
  margin: auto;
  height: 240px;
  width: 160px;
  filter: drop-shadow(var(--drop-shadow-drpShdw));
}
.vid__article--btn-view {
  height: 4vh;
  width: 20vw;
  border: 2px solid #fff;
  background-color: var(--background-color-bgColorEl);
  border-radius: 10px;
  position: absolute;
}
.vid__article--btn-view:hover {
  transform: scale(1.09);
  background: linear-gradient(to right, #0099f7, #f11712);
  color: #000;
}

.vid__article--btn-view > a {
  font-size: var(--font-size-ftSizeStandar);
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
/*PAGE DE LA VIDEO*/
.video__page--container {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.video__page--container:has(.vid__article--txt) {
  color: #fff;
  font-family: var(--font-family-ftFamilyTwo);
  color: #fff;
  font-size: var(--font-size-ftSizeStandar);
  letter-spacing: 1px;
  width: 25ch;
}
.video__specificity {
  font-size: var(--font-size-ftSizeStandar);
  font-family: var(--font-family-ftFamilyOne);
}
.video__article--title-container {
  padding-left: 10px;
  text-align: left;
  height: auto;
  width: 100%;
}
.title__container--cover {
  height: 50vh;
  width: auto;
}
.video__article--title-container > h2 {
  font-family: var(--font-family-ftFamilyOne);
  font-size: var(--font-size-ftSizeMedium);
  letter-spacing: 1px;
  color: transparent;
  background: linear-gradient(to right, #0099f7, #f11712);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video__langage--container {
  padding: 8px;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
  border-radius: 10px;
}
.video__langage--sub-container {
  padding: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.video__langage--sub-container > label {
  text-decoration: underline;
}
.video__separate {
  margin: 0 auto 15px auto;
  height: 4px;
  width: 50%;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}
.video__item {
  height: 20vh;
  width: 100%;
}
